*{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
 }
 body{
      background-image: url(../images/triangle-mosaic.png);
    
}

.topnav{
    border-bottom: 1px solid black;
}
nav{
    width:960px;
    margin: 0 auto;
}
.name{
    background-color: teal;
    color:white;
    float: left;
    font-size: 40px;
    font-weight: bold;
    padding: 30px 40px;
    font-family: 'Grenze', serif;
    letter-spacing: 5px;
}
.navlink{
    float:right;
    font-size:20px;
    margin: 20px 0px;
    padding: 15px 25px;
    text-decoration: none;
}
.navlink:hover{
    box-shadow: 5px 5px 40px red;
    background-color: darkslategray;
    color:white;
}
.navlink:focus{
    color:blue;
}

.linkborder {
    border-right: 1px solid gray;
}

.clear::after{
    content: "";
    display: block;
    clear: both;
      }



.aboutme{
    border: 1px solid black;
    width: 960px;
    margin: 10px auto;
    background-color: white;

}
.aboutme h2{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 30px;
    margin: 30px 30px;
    border-bottom: 1px solid black;
}
.aboutme p{
    line-height: 1.5;
    margin: 20px;
    font-size: 20px;
}
.aboutme img{
    float: left;
    /* padding-left: 30px; */
    margin: 0px 30px 20px 30px;
    
}

#copyright{
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
}

#copyright footer{
    color: white;
    text-align: center;
    width: 960px;
    margin: 0px auto;;
}